table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    
  }

      .container {
      width: 95%;
     
      display: flex;
      justify-content: space-around;
    }
  
    table {
      width: 94%;
      border-collapse: collapse;
    }
  
    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #838383;
    }
  
    th {
      background-color:darksalmon;
    }
  
  
    tr:hover {
      background-color:lavender;
    }



        .btns {
          max-width: 350px;
          display: flex;
          justify-content: space-evenly;
          zoom: 80%;
          padding-top: 2%;
          padding-bottom: 2%;
    
        }
    
        button {
          background-color: slateblue;
        }
    
    
    
        .tp-card {
          max-width: 100%;   
          border: 2px solid lightslategrey;
          
        }
    
        form {
          margin-left: 40%;
    
        }
    
        div {
          padding: 2%;
        }
    
        select {
          width: 43%;
          height: 38px;
    
        }
    
        input {
          width: 40%;
          padding: 8px;
          margin-bottom: 8px;
    
    
        }

        td{
          cursor: pointer;
        }